footer {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 20px 0;
    background-color: black;
     p {
        font-size: 24px;
        color: white;
    }
    img {
        height: 39px;
    }
}
