@import '../styles/variables.scss';

.logement-details {
    padding: 50px 20px;
}

.logement-titre {

    h1 {
        color: $rouge;
        margin-bottom: 0;
        font-weight: 500;
    }

    p {

        margin-top: 0;
        font-size: 18px;
        font-weight: 500;
    }
}

.card-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1vh;
}

.logement-host {
    display: flex;
    width: 167px;
    align-items: center;
    margin: 10px 0;

    img {
        border-radius: 50%;
        height: 64px;
        margin-left: 5px;
    }

    h3 {
        color: $rouge;
        font-weight: 400;
    }
}

.logement-rating {
    .star {
        color: $rouge;
        margin-right: 5px;
        font-size: 24px;
        border: none;
    }
}

.logement-tags {
    display: flex;
    gap: 30px;
    margin: 10px 0;
}

.tags {
    background-color: $rouge;
    color: white;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;
    padding: 3px;
    width: 115px;
    text-align: center;
}

.logement-collaps {
    // padding: 20px;
    display: flex;
    justify-content: space-between;
    gap: 30px;

    .collaps {
        margin: 0;
        flex: 1 1 30%;
        // border-radius: 5%;

        // width: 582px;
        .collaps-header {
            border-radius: 10px;

            h2 {
                font-size: 18px;
            }

            .arrow {
                border-width: 0 3px 3px 0;

            }
        }

        .collaps-content ul {
            list-style-type: none;
            padding-left: 0;
        }

        .collaps-content li {}
    }
}

/* Small devices (phones, less than 768px) */

@media (max-width: 767.98px) {

    .logement-details {
        padding: 27px 20px;
    }

    .card-title {
        flex-direction: column;
    }

    .logement-titre {

        h1 {
            font-size: 18px;
        }

        p {
            font-size: 14px;
        }
    }

    .tags {
        font-size: 10px;
        // font-weight: bold;
        // padding: 3px;
        // width: 115px;
        // text-align: center;
    }
    .logement-host {
        flex-direction: column;
}
}